/*
About page
*/
/*--- MENU ---*/
.draw {
    transition: color 0.25s;

  &::before,
  &::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
  }

  &::before {
    top: 0;
    left: 0;
  }

  &::after {
    bottom: 0;
    right: 0;
  }
  
  &:hover {
    color: #aa71d0;
  }

  
  &:hover::before,
  &:hover::after {
    width: 100%;
    height: 100%;
  }

  &:hover::before {
    border-top-color: #aa71d0;
    border-right-color: #aa71d0;
    transition:
      width 0.25s ease-out,
      height 0.25s ease-out 0.25s;
  }

  &:hover::after {
    border-bottom-color: #aa71d0; 
    border-left-color: #aa71d0;
    transition:
      border-color 0s ease-out 0.5s, 
      width 0.25s ease-out 0.5s, 
      height 0.25s ease-out 0.75s; 
  }
}

.meet {
  
  &:hover {
    color: #aa71d0;
  }

  
  &::after {
    top: 0;
    left: 0;
  }

  
  &:hover::before {
    border-top-color: #aa71d0;
    border-right-color: #aa71d0;
  }

  &:hover::after {
    border-bottom-color: #aa71d0;
    border-left-color: #aa71d0;
    transition: 
      height 0.25s ease-out,
      width 0.25s ease-out 0.25s;
  }

}

.navbar.affix {
  top:0;
  width:100%;
}
/*--- @MEDIA --- */
nav select {
  display: none;
}

@media (max-width: 960px) {
        .block-3{
    height:auto;
    }
    .annotations{
        height: auto;
}
    .why{
        height: auto;
}
    .partners{
        display: hidden;
    }
    .people img{
        width: 50%;
        height: 50%;
}
    .f-line{
        padding-left: 30%;
        padding-right: 30%;
    }
    .target{
    padding-top: 20px;
        padding-bottom: 20px;
    }
    nav{
        position: relative;
    }
}

/*------------ HEADER ------------------*/
body {
	font-size: 14px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	overflow-x: hidden;
    color: #222;
}
ul, li {
    list-style-type: none;
}
nav > li > a {
    text-shadow: none;
    color: #fff;
}
.hidden{
    display: none;
}/*
.fixed_menu{
    padding-top: 20px;
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    z-index: 1;
}*/
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    font-family: 'Arial' !important;
    font-size: em(43);
}
h2 {
    font-size: em(34);
}
h3, h4 {
    text-transform: uppercase;
    font-size: em(17px);
    }
h4{
    font-size: em(15px);
}
.hidden {
	display: none;
}
/* --- HEADER --- */
.logo{
    display: block;
    width: 50%;
}
.logo-e{
    padding-top: 7px;
}
.logo-e h4{
    display: inline-block;
    font-family: 'Hind', serif;
    line-height: 1;
    letter-spacing: 5;
}
.menu-line{
    height: auto;
    padding-top: 15px;
    padding-bottom: 10px;
}
.menu-line h4{
    font-family: 'Hind Regular', sans-serif;
}

.nav-menu {
    font-family: 'Hind Regular', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.target a {
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    word-wrap: normal;
}
/* --- END HEADER --- */
/* --- FOOTER --- */
footer {
    font-family: 'Hind', serif;
    padding-top: 90px;
    background-color: #272532;
    color: #ffffff;
  /*position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
*/
}
footer a{
    color: #aa71d0;
}
/* --- END FOOTER --- */
.op-02{
    opacity: 0.2;
}
.f-line {
    list-style-type: none;
}
.m-f{
    margin-bottom: 50px;
}
.active-e{
    color: #aa71d0;
}
.social{
    letter-spacing: 20px;;
    padding-top: 15px;
}
.gray{
    color: #68647b;
    word-wrap: break-word;
}
.copyright {
    background-color: #211f2a;
    padding-top: 15px;
    font-size: 12px;
    color: #6f6e71;
}
.btn-subscribe {
    font-size: 12px;
    font-family: 'Hind', serif;
    color: #ffffff;
    background-color: #aa71d0;
}
/* --- main CSS --- */
.main-content {
   /* margin-top: 5%;*/
    height: 30%;
    width: 100%;
    background: url(img/About_header.jpg);
    background-color: #000;
}
.about-header{
    padding: 40px;
    text-align: center;
    color: #ffffff;
}
.about-header span{
    font-size: 48px;
}
.about-header span, p{
    font-family: 'Playfair Display', serif;
}
.why {
    background-color: #ffffff;
    height: auto;
    width: 100%;
    padding: 40px;
}
.why span{
    font-family: 'Playfair Display', serif;
}
.why p{
    padding: 3%;
}
.why h2{
    font-family: 'Playfair Display', serif;
}
.right-block h5{
    font-size: 18px;
    color: #000000;
    font-family: 'Hind', serif;
}
.right-block-l{
    font-size: 12px;
    color: #8b8b8b;
}
.right-block-l button{
    font-family: 'Hind', serif;
}
.right-block-r{
    font-size: 12px;
    color: #8b8b8b;
}
.block-3{
    height: 80%;
    width: 100%;
    color: #ffffff;
    text-align: left;
    padding-top: 15%;
}
.block-3 span{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}
.block-3 p{
    font-family: 'Hind', serif;
}
.annotations{
    height: auto;
    width: 100%;
    padding: 100px;
    bottom: auto;
}
.annotations p{
    padding: 5px;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}
.annotations span{
    font-family: 'Hind', serif;
}
.people {
    margin-left: -5%;
    background-color: #f9fafb;
    padding-left: 0;
    padding-right: 0;
}
.people img{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 380px;
    height: 380px;
}
.partners{
    padding-top: 3%;
    padding-bottom: 3%;
    height: auto;
    width: 100%;
    background-color: #ffffff;
}
.partners img{
    padding: 5%;
}