/*-------Мой хэдер ---------*/
header{
	position: relative;
	z-index: 1;
    text-align: justify;
    letter-spacing: 1px;
    height: 8em;
    padding: 2em 10%;
    color: #fff;
	
}
header #icon,
header nav {
    display: inline-block;
}
header::after {
    content: '';
    display: inline-block;
    width: 100%;
}

#icon {
	width: 55px;
	height:48px;
	background: url(../img/Logo.png);
	background-size: 102%  100%; 	
	position: relative;
	top:30px;
	font-size: 14pt;
	font-family: 'Montserrat', sans-serif;
}
.titlesite{
	position: relative;
	padding-left: 60px;
	top:3px;
}

a #icon{
	color: white;
	text-decoration: none;
}

nav a{
	position: relative;
	color: white;
	padding-left: 40px;
	font-size: 12pt;
	font-family: 'Hind', sans-serif;
	top:30px;
	left: 12%;
}
nav a:hover,a #icon:hover{
	color:white;
	text-decoration: none;
}
/*--------------------------------*/

#fblock{
	width: 100%;
	height: 750px;
	position: relative;
	z-index: 0;
	background: url(../img/Main.jpg);
	background-repeat: repeat-y,repeat-y;
	background-position: top,bottom;
	background-attachment: fixed,fixed;
	background-size: cover;
	top:-150px;
}
.wrap{
	width: 80%;
	margin: 0 auto;
}
.tagline{
	font-family: 'Playfair Display';
	position: relative;
	color: white;
	top:300px;
	font-size: 36pt;
	font-weight: 400;
	line-height: 60px;
	text-transform:none;
}
.cursiv{
	font-style: italic;
	font-family: 'Playfair Display';
	font-weight: 600;
}
.undertagline{
	font-family: 'Hind', sans-serif;
	position: relative;
	color: white;
	top:290px;
	font-size: 14pt;
	font-weight: 300;
}
.lmlink{
	font-family: 'Hind', sans-serif;
	position: relative;
	top:310px;
	padding: 0;
	font-size: 14pt;
	color: #aa71d0;
}

.lmlink::after{
	content: '>';
}
.lmlink:hover{
	color: #aa71d0;
	text-decoration:underline;
}
.main-head{
	position: absolute;
	width: 100%;
	top:732px;
	box-shadow:0 0 10px rgba(0,0,0,0.5); ;
}
.fontevo{
	font-family: 'Montserrat', sans-serif;
	margin-top: 12px;
}
.menu-line{
	position: relative;
	top:-33px;
	color:#2a2a2a; 
}
li a{
	position: relative;
	top:-5px;
	color:#2a2a2a;
}
li a:hover{
	color:#2a2a2a;
}
#motocms{
	position: relative;
	top:30px;
	height:100%;
	margin-bottom: 80px;
}
.mcmswrap{
	width: 80%;
	margin: 0 auto;
}

.macpng{
	width: 100%;
}
.hmotcms{
	font-family: 'Playfair Display';
	font-size: 22pt;	
	text-transform:none;
	max-width: 100%;
}
.hmotcms span{
	font-weight: 600;
	font-style: italic;
}
.undh{
	position: relative;
	top:10px;
	font-size: 14pt;
	line-height: 25px;
	font-family: 'Hind', sans-serif;
	max-width: 100%;
}
.descriptext{
	position: relative;
	top:20px;
	font-size: 12px;
	text-align: left;
	font-weight: 300;
	max-width: 620px; 
}
.infobtn{
	position: relative;
	top:40px;
	width: 150px;
	height: 45px;
	background: #aa71d0;
	border-radius: 2%;
	color:white;
	font-size: 8pt;
	border: none
}
.infobtn:hover{
	background: white;
	border-color: #aa71d0;
	color: #aa71d0;
	border: 2px solid;
	transition: 0.2s ease-in;
}
.capabilities{
	background: #f3f5f6;
}
.capabh{
	position: relative;
	top:80px;
	width: 100%;
	text-align: center;
	font-family: 'Playfair Display';
	font-size: 24pt;
	text-transform:none;
}
.capabh span{
	font-weight: 600;
	font-style: italic;
}
.capaundeh{
	margin: 0 auto;
	text-align: center;
	position: relative;
	top:85px;
	width: 40%;
	height: 100px;
	font-size: 10pt;
	line-height: 22px;
	font-family: 'Hind', sans-serif;
	min-width: 300px;
	min-height: 150px;
	margin-bottom: 30px;
}
.capabblock{
	height: 100%;
	background: #f3f5f6;
}

article .capabsection{
	margin: 0 auto;
	margin-bottom: -40px;
	margin-top: 3px;
}
.spriteicon{
	width: 70px;
	height: 70px;
}
.capabsection h5{
	margin: 0 auto;
	font-size: 12pt;
	font-family: 'Playfair Display';
	font-weight: 400;
	text-align: center;
	max-width: 200px;
	padding-top: 30px;
	padding-bottom: 13px;
}
.capabsection p{
	font-size: 8pt;
	font-family: 'Hind', sans-serif;
	max-width: 300px;
	margin: 0 auto;
	text-align: center;
	min-height: 100px;
}
.spriteicon{
	margin: 0 auto;
	background: url(../img/Icons_features.png);
	background-size: 407%;
	
}
.respicon{
	background-position: -2px -2px; 
}
.fasciicon{
	background-position: -2px -76px; 
}
.seoicon{
	background-position: 72px -2px;
}
.ddeicon{
	background-position: -70px -2px;
}
.paicon{
	background-position: -77px -77px;
}
.bficon {
	background-position: -151px -75px;
}
.pbicon{
	background-position: -138px -2px;
}
.gficon{
	background-position: -3px 72px;
}
.wlicon{
	background-position: -152px -147px;
}
.block4{
	height: 100%px;
	width: 100%;
}
	
.wrap h2{
	margin: 0 auto;
	font-size: 28pt;
	text-align: center;
	max-width: 550px;
	font-family: 'Playfair Display';
	font-weight: 300;
	margin-top: 80px;
}
.wrap h2 span{
	font-weight: 600;
	font-style: italic;
}
.wrap .btn{
	margin: 0 auto;
	width: 150px;
	height: 45px;
	background: #aa71d0;
	border-radius: 2%;
	color:white;
	font-size: 8pt;
}
.wrap .btn:hover{
	background: white;
	border-color: #aa71d0;
	color: #aa71d0;
	border: 2px solid;
	transition: 0.2s ease-in;
}
.posbut{
	width:150px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 80px;
}
.block5{
	background: url(../img/Slider_bg.jpg);
	background-size: cover;
	background-repeat: repeat-y,repeat-y;
	background-position: top,bottom;
	background-attachment: fixed,fixed;
}
.carousel-inner{
	min-height: 300px;
}
.carousel-indicators li{
	position: relative;
	top:-30px;
	background: #555555;
}
.item h3 {
	font-family: 'Playfair Display';
	text-transform:none;
	position: relative;
	top:-80px;
	font-size: 12pt;
	width: 760px;
	font-weight: 300;
	line-height: 25px;
	margin: 0 auto;
}

.item p{
	position: relative;
	top:-80px;
	color:#555555;
	font-family: 'Hind', sans-serif;
	font-size: 10pt;
	margin: 0 auto;
}
.possect{
	width: 300px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.support{
	text-align: center;50px;
}
.support h4{
	font-family: 'Playfair Display';
	text-transform:none;
	padding: 10px 0px 2px 0;
}
.support h6,
.support p{
	font-family: 'Hind', sans-serif;
}

.picture1{
	width: 300px;
	height: 300px;
	background: url(../img/Person1.jpg);
	background-size: cover;
}
.picture2{
	width: 300px;
	height: 300px;
	background: url(../img/Person2.jpg);
	background-size: cover;
}
.picture3{
	width: 300px;
	height: 300px;
	background: url(../img/Person3.jpg);
	background-size: cover;
}
.block6 h2{
	margin-top:100px;
	font-family: 'Playfair Display';
	text-align: center;
	text-transform:none;
}
.block6 h2 span{
	font-weight: 600;
	font-style: italic;
}
.block6 p{
	padding-top: 5px;
	text-align: center;
	padding-bottom: 50px;
}
i .fa{
	text-align: center;
	margin: 0 auto;
}
.block7{
	background: url(../img/ChildPages_bg.jpg);
	height: 100%;
	background-size: cover;
	color:white;
	text-align: center;
}
.block7 h2{
	text-transform: none;
	font-family: 'Playfair Display';
	padding-bottom: 10px;
}
.block7 h6{
	font-family: 'Playfair Display';
	font-weight: 300;
}
.freemockuppict{
	background: url(../img/FreeMockup.png);
	width: 450px;
	height: 260px;
	background-size: 100%;
	margin: 0 auto;
}

.childblock h4{
	font-family: 'Playfair Display';
	font-size: 14pt;
	text-transform: none;
	font-weight: 300;
	padding: 30px 0px 5px 0;
}
.childblock p{
	font-family: 'Hind', sans-serif;
	font-size: 10pt;
	padding-bottom: 35px;
	max-width: 420px;
	margin: 0 auto;
}
.btn-child{
	width: 250px;
	height: 50px;
	background: #aa71d0;
	border-radius: 2%;
	color:white;
	font-size: 8pt;
	margin-bottom: 20%;
	border-color: #aa71d0;
	font-family: 'Hind', sans-serif;
}
.btn-child:hover{
 	background-color: transparent;
	border-color: #aa71d0;
	color: #aa71d0;
	border: 2px solid;
	transition: 0.2s ease-in;
}
.block8{
	position: relative;
	top:0;
	height: 100%;
}
.block8 .second-row{
	margin-top: 110px;
}
.second-row div{
	height: 200px;
}
.second-row{
	width: 80%;
	margin: 0 auto;
}
.clientlogo{
	width: 120px;
}
.wrap2{
	width: 120px;
	margin: 0 auto;
}
.contactblock{
	text-align: center;
	color:white;
	height: 100%;
	background: url(../img/Form_bg.jpg);
	background-repeat: repeat-y,repeat-y;
	background-position: top,bottom;
	background-attachment: fixed,fixed;
	background-size: cover;
}
.contactblock h2{
	text-transform: none;
	font-size: 24pt;
	padding: 120px 0 10px 0;
	font-family: 'Playfair Display';
}
.contactblock h5{
	max-width: 500px;
	margin: 0 auto;
	line-height: 25px;
	padding-bottom: 50px;
	font-size: 12pt;
	font-family: 'Hind', sans-serif;
}
.backform{
	background: #272532;
	height: 100%; 
	margin-bottom: 150px;
	
}
.backform form{
	width: 60%;
	margin: 0 auto;
}
.group:first-child{
	margin-top: 100px;
}
.group:nth-child(2){
	margin-top: 25px;
}
.group:nth-child(3){
	margin-top: 35px;
}
.group{
	position: relative;	
}
.hidfield{
	position: absolute;
	top:5px;
	right: 10px;
	font-family: 'Hind', sans-serif;
	font-size: 12px;
	opacity: 0;
	transition: 0.4s ease-in;
	
}
#name, #e-mail, #message{
	font-size: 12pt;
	padding: 10px 10px 10px 5px;
	width: 100%;
	display: block;
	border: none;
	border-bottom: 1px solid #16151d;
	transition: 0.8s;
	background-color: transparent;
	margin: 0 auto;	
	outline: none;
	font-family: 'Hind', sans-serif;
}
#message{
	resize: none;
	height: 100px;
}
#massage:focus{
	font-size: 11pt;
}

lable{
	position: absolute;
	font-weight: normal;
	pointer-events: none;
	top:5px;
	left: 5px;
	font-size: 12pt;
	color:white;
	 transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;	
	font-family: 'Hind', sans-serif;
	
}
input:focus ~ lable, 
input:valid ~ lable{
	top:-20px;
	font-size: 10pt;
}

#message:focus ~ lable, 
 #message:valid ~ lable{
	top:-20px;
	font-size: 10pt;
}
.backform .btn{
	width: 150px;
	height: 50px;
	margin-top: 50px;
	margin-bottom: 100px;
	background: #aa71d0;
	color: white;
	border-color:#aa71d0 ;
}

.backform .btn:hover{
	background-color: transparent;
	border-color: #aa71d0;
	color: #aa71d0;
	border: 2px solid;
	transition: 0.2s ease-in;
}
.block10{
	height: 100%;
	text-align: center;
}
.block10 h2{
	padding-top: 80px;
	font-family: 'Playfair Display';
	padding-bottom: 20px;
}
.block10 p{
	font-family: 'Hind', sans-serif;
	max-width: 400px;
	margin: 0 auto;
	padding-bottom: 40px;
}
.butwrap{
	margin-bottom: 80px;
}
.butwrap button{
	width: 180px;
	height: 50px;
	background: #aa71d0;
	color: white;
	border-color:#aa71d0 ;
}
@media screen and (max-width:1300px){

	.item h3{
		top:-20px;
		max-width: 500px;
	}
	.item p{
		top:-20px;
	}
	.mcmswrap{
		position: relative;
		top:-50px;
	}
	
}
@media screen and (max-width:1180px){
	#carousel{
		height: 400px;
	}
	.item h3{
		top:70px;
		max-width: 500px;
	}
	.item p{
		top:80px;
	}
}
@media screen and (max-width:980px){
	.mcmswrap{
		top:-20px;
	}
	.macpng{
		overflow: 0;
		height: 0px;
	}
	.hmotcms,.undh,.descriptext{
		max-width: 400px;
		margin: 0 auto;
		text-align: center;
	}
	.btwrap{
		margin: 0 auto;
		width: 150px;
			
	}
}
@media screen and (max-width:710px){
	.tagline{
		font-size: 24pt;
		line-height: 40px;
		max-width: 400px;
	}
	.undertagline{
		font-size: 16pt;
		max-width: 400px;
	}
	.lmlink{
		font-size: 10pt;
	}
	.motocms{
		margin-bottom:50px; 
	}
	.hiddenblock{
		height: 0px;
		opacity: 0;
		overflow: hidden;
	}
	.macpng{
		opacity: 0;
		overflow: hidden;
	}
	#carousel{
		height: 400px;
	}
	.item h3{
		top:200px;
		max-width: 300px;
	}
	.item p{
		top:210px;
	}
}
@media screen and (max-width:430px){
	.tagline{
		font-size: 18pt;
		line-height: 25px;
	}
	.undertagline{
		font-size: 10pt;
	}
	.lmlink{
		font-size: 8pt;
	}
	.motocms{
		height: 200px;
	}
	.hiddenblock{
		height: 0px;
		opacity: 0;
		overflow: hidden;
	}
	#carousel{
		height: 500px;
	}
	.item h3{
		top:220px;
		max-width: 200px;
		font-size: 12px;
	}
	.item p{
		top:230px;
	}
}
