.posishion {
	margin-left: 47%;
}
.im {
	zoom: 160%;
}
.page div {
	height: 700px;
	background: #909090
}
.shadow {
	margin: 10% auto;
	background: red;
	box-shadow: 30px 30px 60px rgba(0, 0, 0, 5);
	width: 300px;
	height: 300px;
}
.team {
	position: relative;
	margin: 30% auto;
	background: #fccafa;
	width: 200px;
	height: 400px;
	overflow: hidden;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 5);
}
.input {
	position: absolute;
	width: 200px;
	height: 400px;
	margin: 165px auto;
	background: #909090;
}
.indent {
	padding: 20px;
}
a.spoiler:after {
	content: " [-]"
}
a.spoiler.collapsed:after {
	content: " [+]"
}

/*.carousel-indicators {
	transform: rotate(90deg);
	position: absolute;
	top: 6%;
	left: -19%
}*/
