.posishion {
	margin-left: 47%;
}
.im {
	zoom: 160%;
}
.page div {
	height: 700px;
	background: #909090
}
.shadow {
	margin: 10% auto;
	background: red;
	box-shadow: 30px 30px 60px rgba(0, 0, 0, 5);
	width: 300px;
	height: 300px;
}
.team {
	position: relative;
	margin: 30% auto;
	background: #fccafa;
	width: 200px;
	height: 400px;
	overflow: hidden;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 5);
}
.input {
	position: absolute;
	width: 200px;
	height: 400px;
	margin: 165px auto;
	background: #909090;
}
.indent {
	padding: 20px;
}
a.spoiler:after {
	content: " [-]"
}
a.spoiler.collapsed:after {
	content: " [+]"
}

/*.carousel-indicators {
	transform: rotate(90deg);
	position: absolute;
	top: 6%;
	left: -19%
}*/


/* --- COLORS --- */
.facebook{
    color: #6165fb;
}
.twitter{
    color: #46bcff;
}
.linkedin{
    color: #568dd7;
}
#purple{
    color: #aa71d0;
}
/*---ICONS STYLE --- */ 
.icon-a {
    color: #af95c8;
    font-size: 50px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
* {
  box-sizing: border-box;
  font-family: 'Hind', sans-serif;
  font-weight: 300;
}
a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}
h1 {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-size: 3em;
  text-align: center;
}
.outer-top{
    position: fixed;
    bottom: 20;
    right: 13%;
    z-index: 1;
    width: 60px;
    height: 60px;
    background-color: #aa71d0;
}
.arrow {
    font-size: 40px;
    color: #ffffff;
    padding-left: 16px;
    padding-top: 8px;
}
.outer-menu {
 
  top: 0vh; /* 10vh */
  left: 50vh;
  z-index: 9999;
}
.outer-menu .checkbox-toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 60px;
  height: 60px;
  opacity: 0;
}
.outer-menu .checkbox-toggle:checked + .hamburger > div {
  transform: rotate(135deg);
}
.outer-menu .checkbox-toggle:checked + .hamburger > div:before,
.outer-menu .checkbox-toggle:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}
.outer-menu .checkbox-toggle:checked + .hamburger > div:after {
  opacity: 0;
}
.outer-menu .checkbox-toggle:checked ~ .menu {
  pointer-events: auto;
  visibility: visible;
}
.outer-menu .checkbox-toggle:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: .75s;
}
.outer-menu .checkbox-toggle:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}
.outer-menu .checkbox-toggle:hover + .hamburger {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}
.outer-menu .checkbox-toggle:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}
.outer-menu .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: .5em 1em;
  background: #aa71d0;
  border-radius: 0 0.12em 0.12em 0;
  cursor: pointer;
  transition: box-shadow 0.4s ease;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fefefe;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .hamburger > div:before,
.outer-menu .hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  right: 0;
  width: 100%;
  height: 2px;
  background: inherit;
  transition: all 0.4s ease;
}
.outer-menu .hamburger > div:after {
  top: 10px;
}
.outer-menu .menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  visibility: hidden;
  overflow: hidden;
  backface-visibility: hidden;
  outline: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .menu > div {
  width: 200vw;
  height: 200vw;
  color: #fefefe;
  background: #aa71d0;
  border-radius: 50%;
  transition: all 0.4s ease;
  flex: none;
  transform: scale(0);
  backface-visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
  overflow-y: auto;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .menu > div > div > ul {
  list-style: none;
  padding: 0 1em;
  margin: 0;
  display: block;
  max-height: 100vh;
}
.outer-menu .menu > div > div > ul > li {
  padding: 0;
  margin: 1em;
  font-size: 24px;
  display: block;
}
.outer-menu .menu > div > div > ul > li > a {
  position: relative;
  display: inline;
  cursor: pointer;
  transition: color 0.4s ease;
}
.outer-menu .menu > div > div > ul > li > a:hover {
  color: #e5e5e5;
}
.outer-menu .menu > div > div > ul > li > a:hover:after {
  width: 100%;
}
.outer-menu .menu > div > div > ul > li > a:after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: -0.15em;
  left: 0;
  width: 0;
  height: 2px;
  background: #e5e5e5;
  transition: width 0.4s ease;
}

.outer-menu2 {
  position: relative;
  top: -14vh; /* 10vh */
  left: 10vh;
  z-index: 9999;
}
.outer-menu2 .checkbox-toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 60px;
  height: 60px;
  opacity: 0;
}
.outer-menu2 .checkbox-toggle:checked + .hamburger > div {
  transform: rotate(135deg);
}
.outer-menu2 .checkbox-toggle:checked + .hamburger > div:before,
.outer-menu2 .checkbox-toggle:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}
.outer-menu2 .checkbox-toggle:checked + .hamburger > div:after {
  opacity: 0;
}
.outer-menu2 .checkbox-toggle:checked ~ .menu {
  pointer-events: auto;
  visibility: visible;
}
.outer-menu2 .checkbox-toggle:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: .75s;
}
.outer-menu2 .checkbox-toggle:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}
.outer-menu2 .checkbox-toggle:hover + .hamburger {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}
.outer-menu2 .checkbox-toggle:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}
.outer-menu2 .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: .5em 1em;
  background: #aa71d0;
  border-radius: 0 0.12em 0.12em 0;
  cursor: pointer;
  transition: box-shadow 0.4s ease;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu2 .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fefefe;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu2 .hamburger > div:before,
.outer-menu2 .hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  right: 0;
  width: 100%;
  height: 2px;
  background: inherit;
  transition: all 0.4s ease;
}
.outer-menu2 .hamburger > div:after {
  top: 10px;
}
.outer-menu2 .menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  visibility: hidden;
  overflow: hidden;
  backface-visibility: hidden;
  outline: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu2 .menu > div {
  width: 200vw;
  height: 200vw;
  color: #fefefe;
  background: #aa71d0;
  border-radius: 50%;
  transition: all 0.4s ease;
  flex: none;
  transform: scale(0);
  backface-visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu2 .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
  overflow-y: auto;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu2 .menu > div > div > ul {
  list-style: none;
  padding: 0 1em;
  margin: 0;
  display: block;
  max-height: 100vh;
}
.outer-menu2 .menu > div > div > ul > li {
  padding: 0;
  margin: 1em;
  font-size: 24px;
  display: block;
}
.outer-menu2 .menu > div > div > ul > li > a {
  position: relative;
  display: inline;
  cursor: pointer;
  transition: color 0.4s ease;
}
.outer-menu2 .menu > div > div > ul > li > a:hover {
  color: #e5e5e5;
}
.outer-menu2 .menu > div > div > ul > li > a:hover:after {
  width: 100%;
}
.outer-menu2 .menu > div > div > ul > li > a:after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: -0.15em;
  left: 0;
  width: 0;
  height: 2px;
  background: #e5e5e5;
  transition: width 0.4s ease;
}
.center-b{
    margin-top: 2%;
}

/*--- MEDIA ---- */
@media (max-width: 768px){
    .fontevo{
        padding-top: 10px;
    }
}
@media (max-width: 426px){
    .outer-menu2{
        top: 4vh;
        left: -16vh;
    }
}
@media (min-width: 768px) {
    .outer-menu{
        display: none;
    }
    .outer-menu2{
        display: none;
    }
}
